* {
  font-family: "Josefin Sans", sans-serif;
  color: #938ba1;
}

body {
  background-color: #d7fdec;
}

h1 {
  text-align: center;
  color: #938ba1;
  font-size: 42px;
}

footer {
  text-align: center;
}

.window {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-window {
  display: block;
  background-color: #b2e4db;
  border: 10px solid #b0c6ce;
  width: 75%;
  height: 20em;
}

.stats {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 70%;
  height: 5em;
  background-color: #b0c6ce;
}

.text {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-right: 20px;
  width: 85%;
  height: 10em;
  background-color: #a9fbd7;
}

li {
  font-size: 28px;
  text-align: center;
}

ul > li {
  align-items: center;
  text-align: center;
  list-style-type: none;
  display: inline;
}

.border {
  border: 2px solid black;
}

span {
  font-size: 26px;
}

.info {
  padding: 30px;
  margin-left: 2%;
  margin-bottom: 90px;
  font-size: 16px;
  background-color: #b2e4db;
  border: 10px solid #b0c6ce;
}

button {
  font-size: 20px;
  padding: 30px;
  background-color: #b2e4db;
  border: 10px solid #b0c6ce;
}
