* {
    font-family: 'Josefin Sans', sans-serif;
    color: #b0c6ce;
}

body {
    background-color: #D7FDEC;
}

h1 {
    text-align: center;
    color: #938ba1;
}

footer {
    text-align: center;
}

