<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/info.css">
    <title>Infomation</title>
</head>
<body>
    <div class="average">
        <div class="wpm">
            <p>Average WPM:</p>
            <br />
            <span><%=averageWpm%></span>
        </div>
        <div class="mistakes">
            <p>Average Mistakes:</p>
            <br />
            <span><%=averageMis%></span>
        </div>
        <div class="accuracy">
            <p>Average Accuracy:</p>
            <br />
            <span><%=averageAcc%></span>
        </div>
    </div>
    <div class="total">
        <p>Total Number of Text Snippets Typed:</p>
        <span><%=total%></span>
    </div>
    <a href="http://localhost:3000/key">BACK</a>
    <script src="/public/js/info.js"></script>
</body>
</html>